<form class="{{cssClass}} flexcol ob-item-form" autocomplete="off">
  <header class="ob-item-header">
    <img class="ob-item-header-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <input class="ob-item-header-name" type="text" name="name" value="{{item.name}}" placeholder="Equipment Name" />
  </header>

  <div class="sheet-body">
    <div class="ob-form-row">
      <label>{{localize "ORBITAL_BLUES.Weapon.Integrated"}}</label>
      <input type="checkbox" name="system.integrated" {{#if system.integrated}}checked{{/if}} />
    </div>
    <div class="ob-form-row">
      <label>{{localize "ORBITAL_BLUES.Weapon.Bulky"}}</label>
      <input type="checkbox" name="system.bulky" {{#if system.bulky}}checked{{/if}} />
    </div>
    {{prosemirror enrichedDescription name="system.description" fieldLabel="Description" editable=editable button=false}}
  </div>
</form>
